.contacts {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.page-header__contacts {
  margin-left: auto;
}
.contacts__item {
  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  color: var(--contacts-text-color);
  fill: var(--contacts-text-color);
  font-weight: var(--font-size-medium);
  text-decoration: none;
  line-height: 1.142;
  letter-spacing: 0.02em;

  transition-property: color, fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic-bezier);

  &:focus,
  &:hover {
    color: var(--text-focus-color);
    fill: var(--text-focus-color);
  }
}
.contacts__icon {
  margin-right: 10px;
}
