.hero {
  margin-left: auto;
  margin-right: auto;

  color: var(--main-color);
  background-color: var(--hero-background-color);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 480px;

  padding-top: 118px;
  padding-bottom: 118px;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero_phone@x1.jpg');

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero_phone@x2.jpg');
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-size: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero_tablet@x1.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero_tablet@x2.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 1600px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero@x1.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero@x2.jpg');
    }
  }
}

.hero__header {
  $HeaderFontSize: 26px;
  $HeaderFontSizeI: 26;
  width: 360px;
  margin-left: auto;
  margin-right: auto;

  display: block;
  margin-top: inherit;
  margin-bottom: 30px;
  font-size: $HeaderFontSize;
  font-weight: var(--font-size-black);
  text-align: center;
  letter-spacing: 0.06em;
  line-height: calc(42 / #{$HeaderFontSizeI});
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    width: 696px;
    height: 120px;

    font-size: 44px;
    line-height: 1.363;
  }
}

.hero__item-button {
  display: flex;
  justify-content: center;
}

.hero__button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}
