.page-header__container {
  display: flex;
  align-items: center;
}

.page-header--border {
  border-bottom: #ececec 1px solid;
}
/* text logo style */

.page-header__logo {
  color: var(--primary-logo-color);
  margin-right: 93px;
}
.page-header__logo--spancolor {
  color: var(--secondary-logo-color);
}
