.advantages__header {
  display: none;
}
.advantages__list {
  margin: inherit;
  display: flex;
  justify-content: space-between;
}
.advantages__item {
  width: 270px;
  height: auto;
}
.advantages__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;

  background-color: var(--advantages-background-color);
  border-radius: 4px;

  &--position {
    margin-bottom: 30px;
  }
}
// .advantages__icon--position {
//   margin-bottom: 30px;
// }
.advantages__header-list {
  font-weight: var(--font-size-bold);
  font-size: 14px;
  line-height: 1.14;

  &--position {
    margin-bottom: 10px;
  }
}
// .advantages__header-list--position {
//   margin-bottom: 10px;
// }
.advantages__paragraph {
  color: var(--advantages-text-color);
  line-height: 1.7;
}
