.address__item {
  font-style: normal;
  line-height: calc(16 / 14);
  text-decoration: none;

  @media screen and (max-width: 1199px) {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  @media screen and (min-width: 1200px) {
    line-height: 1.7;

    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}
.address__link {
  color: var(--main-color);

  &--style {
    opacity: 60%;
  }
}
