.subscribe {
  display: block;
  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-top: 12px;
  }
}

.subcribe__form {
  display: block;

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}

.subcribe__input {
  display: flex;
  align-items: center;

  height: 50px;

  padding-left: 16px;
  width: 100%;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  background-color: var(--footer-background-color);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::-webkit-input-placeholder {
    color: var(--main-color);
    opacity: 0.6;
  }
  &::-moz-placeholder {
    color: var(--main-color);
    opacity: 0.6;
  }
  &:-ms-input-placeholder {
    color: var(--main-color);
    opacity: 0.6;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 360px;
  }
}

.subscribe__button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 34px;
  padding-right: 28px;

  text-decoration: none;
  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.subsribe__button-icon {
  display: inline-block;
  width: 24px;
  height: 24px;

  margin-left: 10px;
  fill: var(--main-color);
}
