:root {
  --main-color: #ffffff;
  --main-text-color: #212121;
  --primary-logo-color: #000000;
  --secondary-logo-color: #2196f3;
  --header-text-logo-color: #212121;
  --nav-text-logo-color: #212121;
  --text-focus-color: #2196f3;
  --buttons-color: #2196f3;
  --contacts-text-color: #757575;
  --hero-background-color: #2f303a;
  --advantages-text-color: #757575;
  --advantages-background-color: #f5f4fa;
  --list-members-text-color: #757575;
  --portfolio-text-color: #757575;
  --team-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-text-logo-color: #ffffff;
  --portfolio-buttons-color: #212121;
  --portfolio-buttons-background-color: #f5f4fa;
  --portfolio-text-color: #757575;
  --portfolio-h-text-color: #212121;
  --font-size-medium: 500;
  --font-size-bold: 700;
  --font-size-black: 900;
  --button-border-radius: 4px;
  --icons-main: #afb1b8;
  --icons-hover: #2196f3;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --form-label-text-color: #757575;
}
